.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 3vw;
  height: 100vh;
}

.name{
  font-weight: 600;
}
.date {
  font-size: 1rem;
  color: #707070;
}
.heading {
  font-size: 1.3rem;
  width: 77vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vh;
}


.subHeading {
  font-size: 1rem;
  font-weight: 500;
  width: 77vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 0;
}
.content{
  display: flex;
  height: 100%;
  flex-direction: row;
  overflow-x: scroll;
}
.classFilter{
  font-size: 0.9rem;
  border:none;
}